@use "../../../styles/mixins.scss" as *;

.create-product-form {
  display: flex;
  flex-direction: column;

  @include screen-medium {
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__description {
      margin: 1em;
    }
  }

  form {
    display: grid;
    row-gap: 1em;

    label {
      display: flex;
      flex-direction: column;
    }

    @include screen-medium {
      label {
        width: 12em;
      }

      button {
        max-width: 12em;
      }
    }
  }
}
